body {
  background-color: rgb(255, 255, 255);
}

.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
 
}

.App-logo {
  height: 2rem;
  pointer-events: none;
}

.coin-table {
  display:inline-block;
  align-items: center;
  margin-top:50px;
  margin-bottom:50px;
}

.coin-row td {
  border:2px solid #cccccc;
  width: 25vh;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
